.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login {
  background-color: #fff;
  border-radius: .8em;
  padding: 1.3em;
  display: flex;
  flex-direction: column;
  width: 25em;
  border: 1px solid #D0D0D0;
}

.login h1 {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.login label {
  margin-bottom: .3em;
}

.login input[type="text"] {
  border-radius: .5em;
  border: 1px solid #777;
  margin-bottom: 1.2em;
  padding: .5em 0 .5em .8em;
  width: 100%;
}

.login-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@keyframes welcome {
  0% {opacity: 0; margin-top: -20vh; scale: 1;}
  100% {opacity: 1; margin-top: -90vh; scale: 1.2;}
}

.welcome {
  background-color: #7695EC;
  padding: 1em;
  border-radius: 1em;
  margin-top: -90vh;
  position: absolute;
  display: none;
  scale: 1.2;
}

@media screen and (min-width: 1800px) {
  .login {
    width: 35em;
    font-size: 2em;
  }

  .login form input {
    font-size: 1em;
  }

  .welcome {
    font-size: 2em;
  }
}